.footer{
    background-color: $blue-light;
    padding: 5rem 0;
    font-size: 1.4rem;
    color: $color-gray;

    &__logo-box{
        text-align: center;
        margin-bottom: 4rem;
    }

    &__logo{
        width: 25rem;
        height: auto;
    }

    &__navigation{
    }

    &__list{
        list-style: none;
        &--2{
            display: flex;
            justify-content: flex-end;
            margin-top: 15.2rem;
        }
    }

    &__item{
        display: flex;
        font-size: 1.8rem;
        margin-bottom: 3rem;

        &--1{
            align-items: center;
        }

        &--2{
            margin-right: 2rem;
        }
        
        &--p{
            font-size: 1.8rem;
            margin-left: 3rem;
        }
    }
}