.swiper-project{
    margin-bottom: 6rem;
    transition: all .3s;
    position: relative;
    &__photo{
        width: 60%;
        margin-right: 8rem;
    }

    &__text{
        text-align: left;
        font-size: 5rem;
        color: $color-black;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%,-50%);
        
    }

    &__back{
        content: "";
        position: absolute;
        top: 55%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%,-50%);
        filter: blur(50px);
        box-shadow: 0 6px 50px 8px rgba($blue, 0.15);

        &--1{
            background-color: #d3d3d3;
            width: 50rem;
            height: 30rem;
        }
        &--2{
            background-color: #d3d3d3;
            width: 50rem;
            height: 30rem;
        }
        &--3{
            background-color: #9dd490;
            width: 50rem;
            height: 30rem;
        }
        &--4{
            background-color: #d3d3d3;
            width: 50rem;
            height: 30rem;
        }
        &--5{
            background-color: #BFEAFF;
            width: 50rem;
            height: 30rem;
        }
        &--6{
            background-color: #DDEDFB;
            width: 50rem;
            height: 30rem;
        }
        &--7{
            background-color: #FFC7C4;
            width: 50rem;
            height: 30rem;
        }
        &--8{
            background-color: #FBAD8D;
            width: 50rem;
            height: 30rem;
        }
        &--9{
            background-color: #AAE5FE;
            width: 50rem;
            height: 30rem;
        }
        &--10{
            background-color: #F5B4AB;
            width: 50rem;
            height: 30rem;
        }
        &--11{
            background-color: #FDC4D7;
            width: 50rem;
            height: 30rem;
        }
        &--12{
            background-color: #F7ACA7;
            width: 50rem;
            height: 30rem;
        }
    }

    &:hover{
        transform: scale(1.1);
    }
}